* {
    margin: 0;
}

body {
    text-align: center;
    background-color: #d7d7d7;
}



h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    margin: 20px 20px;
}

.square {
    text-align: center;
    width: 50px;
    background-color: #eee;
    color: #eee;
    display: inline-block;
    padding: 40px;
    font-size: 60px;
    margin: 5px;
    cursor: pointer;
}

.scoreboard {
    font-size: 30px;
    margin-top: 10px;
}

button {
    margin-top: 10px;
    width: 100px;
    height: 30px;
    background-color: #eee;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 10px;
}

button:hover {
    color: #eee;
    font-weight: bold;
    background-color: green;
    box-shadow: 1px 3px 3px #eee;
}

.row {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto 6rem;
    align-items: center;
    flex-direction: row;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav {
    margin: 10px 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}